<!DOCTYPE html>
<html>
<head>
  <title>MarvelComics</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    window.images = {
      marvel: "<%= image_path("marvel_logo.png") %>",
      heartOn: "<%= image_path("heart_on.png") %>",
      heartOff: "<%= image_path("heart_off.png") %>",
      heartHover: "<%= image_path("heart_hover.png") %>",
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
